<form autocomplete="off" #createCategoryForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ dialogTitle }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <input
            matInput
            name="Title"
            [placeholder]="'Title' | localize"
            [(ngModel)]="entity.title"
            required
            minlength="2"
            maxlength="100"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="ShortDescription"
            [placeholder]="'ShortDescription' | localize"
            [(ngModel)]="entity.shortDescription"
            required
            maxlength="100"
          />
        </mat-form-field>
        <mat-form-field>
          <textarea 
            matInput
            name="LongDescription"
            [placeholder]="'LongDescription' | localize"
            [(ngModel)]="entity.longDescription"
            required
            maxlength="1000"
            rows="4"
          ></textarea>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="ImageUri"
            [placeholder]="'ImageUri' | localize"
            [(ngModel)]="entity.imageUri"
            type="email"
            maxlength="250"
          />
        </mat-form-field>
        <div class="checkbox-wrapper">
          <mat-checkbox name="IsPublic" [(ngModel)]="entity.isPublic">
            {{ "IsPublic" | localize }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createCategoryForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
