<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
     
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a [routerLink]="['/app/about']" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/app/blog']" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/app/license']" class="nav-link">License</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
