<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card" [@routerTransition]>
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>{{ 'SignUpWith' | localize}}</small></div>
          <div class="btn-wrapper text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="/argon-theme/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="/argon-theme/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>{{ 'SignUpWithCredentials' | localize }}</small>
          </div>
          <form novalidate  #registerForm="ngForm" (ngSubmit)="save()">
            <div class="form-group form-float">
                <mat-form-field>
                    <input matInput
                       name="Name"
                       [(ngModel)]="model.name"
                       [placeholder]="'Name' | localize"
                       required
                       maxlength="32" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                        name="Surname"
                        [(ngModel)]="model.surname"
                        [placeholder]="'Surname' | localize"
                        required
                        maxlength="32"/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                         type="email"
                         name="EmailAddress"
                         [(ngModel)]="model.emailAddress"
                         [placeholder]="'EmailAddress' | localize"         
                         required
                         maxlength="255"
                         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                         name="UserName"
                         [(ngModel)]="model.userName"
                         [placeholder]="'UserName' | localize"         
                         required
                         maxlength="32"/>
                </mat-form-field>
                <mat-form-field>
                   <input matInput
                          name="Password"
                          [(ngModel)]="model.password"
                          [placeholder]="'Password' | localize"
                          type="password"         
                          required
                          maxlength="32"/>
                </mat-form-field>
            </div>
            <div class="form-actions text-center">
                  <button mat-button 
                          type="button"
                          [disabled]="saving"
                          [routerLink]="['/account/login']">
                          {{ "Back" | localize }}
                  </button>
                  <span>&nbsp;</span>
                  <button mat-flat-button
                          type="submit"
                          flex="15"
                          color="primary"
                          [disabled]="!registerForm.form.valid || saving">
                          {{ "Submit" | localize }}
                  </button>    
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



 
